html {
  font-family:'Times New Roman', Times, serif;
}

h1 {
  color:green;
  text-align: center;
}

.note {
  color: grey;
  padding-top: 3px;
  font-size: 15px;
}

button {
  padding: 1px;
  margin: 10px;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}